.success {
    font-weight: bold;
    font-size: larger;
    color: green;
    top: 0;
    right: 410;
    padding: 10px;
    position : fixed;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-signin {
  width: 400px;
  margin: 30px auto;
  text-align: center;
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

input[type="submit"],
input[type="reset"],
.btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.error {
    font-weight: bold;
    font-size: larger;
    color: red;
    position: fixed;
    top: 0;
    right: 410;
    width: 100%;
    padding: 10px;
}






